<div class="h-screen bg-cover" style="background-image: url(<%= asset_path "ha-nguy-n-0rimaS8P9F0-unsplash.jpg" %>);">
  <div class="flex h-full w-full items-center justify-center container mx-auto px-8">
    <div class="max-w-2xl text-center">
      <h1 class="leading-tighter mb-4 text-7xl font-extrabold tracking-tighter md:text-7xl">
        <span class="p-2 bg-gradient-to-r bg-white border-2 border-transparent rounded-lg text-md hover:bg-green-400 bg-clip-text text-transparent">
          最高の音楽と最高の仲間と共に！
        </span>
      </h1>
      <h1 class="text-3xl sm:text-5xl capitalize tracking-widest text-white lg:text-7xl"></h1>
      <p class="mt-6 lg:text-lg text-white">LISTをクリックして新しい音楽を見つけましょう</p>
      <div class="flex justify-center mt-10">
        <%= link_to 'Artist List', artists_path, class: 'px-10 py-4 mr-4 text-white uppercase bg-green-500 border-2 border-transparent rounded-lg text-md hover:bg-green-400' %>
        <%= link_to 'Festival List', festivals_path, class: 'px-10 py-4 text-white uppercase bg-green-500 border-2 border-transparent rounded-lg text-md hover:bg-green-400' %>
      </div>
    </div>
  </div>
</div>


