<div class="container mx-auto mt-10">
  <div class="mb-4">
    <span class="text-2xl font-bold">アーティスト名：</span>
    <%= @artist.artist_name %>
  </div>

  <div class="mb-4">
    <span class="text-2xl font-bold">Spotify ID：</span>
    <%= @artist.spotify_id %>
  </div>

  <%= link_to "編集", edit_admin_artist_path(@artist), class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" %>
</div>
