<nav class="bg-emerald-300">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <ul class="flex items-baseline space-x-4">
        <li><%= link_to "Fest-Hunt" , root_path, class: 'text-neutral-100 hover:text-white px-3 py-2 rounded-md text-2xl font-medium' %></li>
      </ul>
      <div class="flex items-center space-x-4">
        <a class="hidden md:inline-block"><%= link_to '新規登録', new_user_path, class: 'text-neutral-100 hover:text-white px-3 py-2 rounded-md text-md font-medium' %></a>
        <a class="hidden md:inline-block"><%= link_to 'ログイン', login_path, class: 'text-neutral-100 hover:text-white px-3 py-2 rounded-md text-md font-medium' %></a>
        <a class="hidden md:inline-block"><%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post}, class: 'text-neutral-100 hover:text-white px-3 py-2 rounded-md text-md font-medium' %>
      </div>
    </div>
  </div>
</nav>








