<footer class="footer p-4 text-black bg-cyan-400 text-neutral-content ">
  <div class="items-center grid-flow-col">
    <a>利用規約</a> 
    <a>お問い合わせ</a>
    <a>プライバシーポリシー</a>
  </div> 
  <div class="justify-content: flex-end">
   <p>Copyright © 2023 - All right reserved</p>
  </div>
</footer>

