
<footer class="bg-base-200 text-base-content rounded py-4 px-6">
  <div class="flex justify-center items-center">
    <div class="space-x-2">
      <%= link_to '利用規約', terms_path, class: "link link-light" %>
      <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-light" %>
    </div>
  </div>
  <p class="text-center text-sm mt-2">Copyright © 2023 - All rights reserved by Fest-Hunt</p>
</footer>








