<footer class="bg-white dark:bg-gray-800 w-full py-2">
    <div class="max-w-screen-xl px-4 mx-auto">
        <ul class="flex flex-wrap justify-between max-w-screen-md mx-auto text-lg font-light">
            <li class="my-2">
                <a class="text-gray-400 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    お問い合わせ
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-400 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    プライバシーポリシー
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-400 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    利用規約
                </a>
            </li>
        </ul>
    </div>
</footer>


