<div class="navbar bg-emerald-300 font-robo">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow-sm rounded-box w-52"> 
        <li><%= link_to "プレイリスト" , bookmarks_path, class: 'text-white hover:text-white px-3 py-2 rounded-md text-xl font-medium' %></li>
        <li><%= link_to "マイページ" , profile_path, class: 'text-white hover:text-white px-3 py-2 rounded-md text-xl font-medium' %></li>
        <li><%= link_to (t 'defaults.logout'), logout_path, class: 'text-white hover:text-white px-3 py-2 rounded-md text-md text-xl font-medium', data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a><%= link_to "Fest-Hunt" , root_path, class: 'text-white hover:text-white px-3 py-2 rounded-md text-2xl font-medium' %></a>
  </div>
</div>