<div class="navbar bg-base-100">
  <div class="flex-1">
    <ul class="btn btn-ghost normal-case text-xl">
      <li><a><%= link_to "Summer Festivals" , root_path %></li></a>
    </ul>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a><%= link_to '新規登録', new_user_path %></li>
      <li><a><%= link_to 'ログイン', login_path %></a></li>
      <li><a><%= link_to 'ゲストログイン', guest_login_path %></a></li>
    </ul>
  </div>
</div>